.App {
  text-align: center;
  background-color: plum;
}
select {
  margin-left: 25px;
  width: 95px;
  height: 30px;
  background-color: plum;
}
label {
  margin-left: 150px;
}

h1 {
  height: 150px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  max-width: 300px;
  max-height: 300px;
}

ul {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: 50px;
}
